@media screen and (max-width: 1200px) {
  .numbers_img {
    margin: 5.4rem 0 0 1.8rem;
    width: 32rem;
  }

  .welcomeNote {
    font-size: 4.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .numbers_img {
    margin: 5.4rem 0 0 0rem;
    width: 30rem;
  }

  .welcomeNote {
    font-size: 4.8rem;
  }

  .btn:link,
  .btn,
  .btn:active,
  .btn:hover,
  .btn:visited {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .form {
    gap: 0;
  }

  .concept_img {
    margin: -12px 0 0 0;
  }

  .input {
    width: 34rem;
  }
}

@media screen and (max-width: 915px) {
  .numbers_img {
    margin: 5.4rem 0 0 1.2rem;
    width: 27rem;
  }

  .input {
    width: 32rem;
  }
}

@media screen and (max-width: 825px) {
  .formNote {
    padding-top: 0;
  }

  .numbers_img {
    margin: 1.2rem 0 0 0.6rem;
    width: 24rem;
    height: 40rem;
  }

  .welcomeNote {
    font-size: 4.2rem;
  }

  .enterDetails {
    margin-top: 3.6rem;
  }

  .input {
    width: 30rem;
    margin-bottom: 0.3rem;
  }

  .formSet {
    margin-bottom: 0;
  }

  .label {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
  .form {
    flex-direction: column;
  }

  .submit {
    align-self: center;
    padding: 1.2rem 0;
    justify-content: center;
    margin-left: -12rem;
  }

  .formNote {
    flex: 0 0 60%;
  }

  .welcomeNote {
    font-size: 3.6rem;
  }

  .enterDetails {
    margin-top: 2.4rem;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 650px) {
  .submit {
    margin-left: -6rem;
  }

  .numbers_img {
    width: 22rem;
  }
}

@media screen and (max-width: 600px) {
  .numbers_img {
    display: none;
  }

  .formNote {
    flex: 0 0 100%;
  }

  .backgroundImage {
    display: block;
    position: relative;
    height: 30rem;
    width: 35rem;
    text-align: center;

    border-radius: 2.4rem;
    z-index: -1;
    box-shadow: 0 0 1.2rem #50c1d4;
  }

  .backgroundImageDiv {
    margin-left: 6rem;
    position: absolute;
    margin-bottom: 1.2rem;
    border-radius: 2.4rem;
    background: linear-gradient(to right bottom, #0202027a, #0000007e);

    /* pointer-events: none; Ensures that the gradient layer doesn't interfere with mouse events */
  }

  .formSet {
    align-items: center;
    gap: 0.3rem;
  }

  .label {
    font-weight: 500;
    color: #0adaff;
  }

  .input {
    margin-bottom: 0.6rem;
  }

  .form {
    padding: 1.2rem;
    align-items: center;
  }
  .detailsForm {
    position: absolute;
  }

  .submit {
    margin-left: 1.8rem;
  }

  .header {
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  .logo {
    margin: 1.2rem 0;
  }

  .formNote {
    padding: 0 1.2rem 0 2.4rem;
  }
}

@media screen and (max-width: 475px) {
  .backgroundImageDiv {
    margin-left: 2.4rem;
  }

  .header {
    width: 100%;
  }

  .logo {
    justify-self: center;
  }

  .welcomeNote {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 390px) {
  .backgroundImageDiv {
    margin-left: 1.8rem;
  }

  .welcomeNote {
    font-size: 3rem;
  }

  .backgroundImage {
    width: 30rem;
  }

  .input {
    width: 25rem;
  }
}

@media screen and (max-width: 325px) {
  .backgroundImageDiv {
    margin-left: 1.2rem;
  }

  .backgroundImage {
    width: 25rem;
  }

  .input {
    width: 20rem;
  }
}

@media screen and (max-width: 280px) {
  .backgroundImageDiv {
    margin-left: 1.2rem;
  }
  .backgroundImage {
    width: 23rem;
  }

  .input {
    width: 17rem;
  }

  .welcomeNote {
    font-size: 3rem;
  }
}
